*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Lato, sans-serif;
    font-size: 20px;
}

.flex-column{
    display: flex;
    flex-direction: column;
    *{
        margin: .5rem 0;
    }
}

button{
    width: max-content;
}

div.app{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    flex-basis: 30vh;
    background-color: black;
}

main{
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    
    aside{
        min-width: 240px;
    }
    
    section.blog{
        flex-grow: 1;
    }
    p{
        padding-left: .5rem;
    }
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center ;
}

.home-page{
    h3{
        margin: 1rem 0;
    }
    span{
        display: block;
        margin: .5rem 0;
        width: 100%;
        text-align: right;
        font-size: 0.7rem;
        font-style: italic;
    }
}


.contact{
    form{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        textarea{
            min-height: 200px;
            resize: vertical;
            margin: .5rem 0;
        }
        
        button{
            width: max-content;
            padding: 5px 15px;
            margin: .5rem 0;
            cursor: pointer;
            font-size: 1.1rem;
            border: 2px solid black;
            
            &:hover{
                border-color: #666;
                color: #666;
            }
        }
    }
    
}
.products{
    h2{
        margin-bottom: 20px;
    }
    
    ul{
        list-style: square;
        padding-left: 30px;
        li{
            margin-bottom: 20px;
        }
    }
    
    a{
        text-decoration: none;
        color: #333;
        &:hover{
            text-decoration: underline;
            color: black;
        }
    }
}
